.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#root{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#root img{
  width: 50%;
  height: 50%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Toolbar{
  width: 20vw;
  height: 20vh;
  margin: 1vw;
  background-color: #575f71;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
.Toolbar button{
  width: 9vw;
  height: 6vh;
  border-radius: 1vw;
  border: 0px;
  font-size: 1.1vw;
}


